{{!-- Card based page --}}
<div class="container s12 center-align comment-topic">
    {{#with topic}}
    <h3 class="articleTitle">{{articleTitle}}</h3>
    <img src="{{image}}">
    <p class="tagline">{{tagline}}</p>
    <h3 class="comments">Comments</h3>
    {{#if comments}}
    {{#each comments}}
    {{> comment-list}}
    {{/each}}
    {{else}}
        <p>Looks like there are no comments yet.</p>
    {{/if}}
    <input class="rosewood" placeholder="Enter your name..." id="username" type="text">
    <input placeholder="Enter your comment..." id="newComment" type="text" class="validate">
    <button class="btn waves-effect waves-light" type="submit" name="action" id="submitComment" data-id="{{_id}}">Send
        <i class="material-icons right">send</i>
    </button>
    {{/with}}
</div>